html, body{
	margin: 0;
	min-height: 100%;
	font-family: sans-serif;
	min-width: 700px;
}

a, a:link, a:visited, a:hover, a:active{
	text-decoration: none;
	color: white;
}

h1, h2{
	color: white;
}

/***********************************NAVIGATION*******************************************/

nav{
	height: 50px;
	background-color: #F9A032;
	width: 100%;
	transition: all 1s ease;
}

.fixedNav{
	position: fixed;
	top: 0;
	border-radius: 30px;
	//height: 60px;
	box-shadow: 1px 1px 3px #AAA;
	z-index: 1;
}

.navbarLogo{
	background-image: url('images/logo.png');
	background-size: 100% 100%;
	background-color: #F9A032;
	background-repeat: no-repeat;
	margin-top: auto;
	margin-bottom: auto;
	height: 40px;
	width: 40px;
	left: 50px;
	float: left;
	position: relative;
}

.appLink{
	position: relative;
	text-align: center;
	border: 1px solid #FFF;
	border-radius: 10px;
	transition: all 0.5s ease;
}

.navAppLink{
	float: right;
	right: 50px;
	height: 40px;
	width: 130px;
}

.frontAppLink{
	height: 40px;
	width: 210px;
	margin-left: auto;
	margin-right: auto;
	top: 120px;
	font-size: 20px;
}

.button{
	text-decoration: none;
	display: inline-block;
	line-height: 40px;
	width: 100%;
	color: #FFF;
}

.appLink:hover{
	background-color: #FA8D08;
}

/**********************************FRONT PAGE*************************************/

.contents{
	//min-height: 2500px;
}

.frontPage{
	height: 600px;
	background: url('images/coffee.jpg');
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
	text-align: center;
}

.frontLogo{
	position: relative;
	height: 70px;
	width: 70px;
	background: url('images/logo_transparent.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	top: 80px;
}

#frontText1{
	position: relative;
	top: 95px;
	color: white;
	font-size: 30px;
}

#frontText2{
	color: white;
	position: relative;
	top: 125px;
	font-size: 15px;
}

/*************************************App Intro*********************************************/

.appIntro{
	height: 630px;
	background-color: #16C3D8;
	//border: 1px solid red;
}

.contents h1,.contents h2{
	font-family: futura;
	font-weight: px;
	font-size: 30px;
}

.introTextArea{
	width: 49%;
	height: 100%;
	float: left;
	text-align: center;
}

#introTitle{
	position: relative;
	top: 160px;
}

.introText{
	position: relative;
	font-size: 25px;
	color: white;
	line-height: 1.5;
	padding-left: 30px;
	padding-right: 30px;
}

.introImgArea{
	width: 50%;
	height: 100%;
	float: left;
}

.appIntro figure{
	position: relative;
	display: block;
	width: 250px;
	left: 120px;
}

.appIntro img{
	width:100%;
}

/*************************************Having Lunch*********************************************/

.lunch{
	height: 580px;
	background: url('images/eatingLunch-min.jpg');
	background-repeat: no-repeat;
	//background-size: auto 100%;
	//background-size: 1300px 900px;
	background-size: 100% auto;
	background-attachment: fixed;
	background-position: center top;
	background-color: #16C3D8;
	//border: 1px solid #000;
}

#meetSomeone{
	position: relative;
	color: white;
	top: 100px;
}

/*************************************Last Page******************************************************/

#lastPage{
	height: 600px;
	background: url('images/lastPage2-min.jpg');
	background-size: 100% auto; 
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	//border: 0.1px solid #FFF;
}

.lastPageTextContainer{
	position: relative;
	width: 600px;
	height: 400px;
	margin-left: 50px;
}

.quote{
	font-family: Georgia;
	position: relative;
	color: #6E7980;
	font-style: italic;
	font-weight: 20px;
	font-size: 30px;
}

.lastPageContainer{
	height: inherit;
	width: inherit;
	position: relative;
	top: -50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.lastPageText{
	position: relative;
	color: #6E7980;
	font-size: 22px;
	font-weight: 10px;
	font-family: sans-serif;
	line-height: 1.5
}

.dummy{
	height: inherit;
	width: inherit;
	background-color: white;
	opacity: 0.6;
}

.lastPageButton{
	position: relative;
	width: 200px;
	float: left;
	-webkit-transform: translateX(-50%);
  	-ms-transform: translateX(-50%);
  	transform: translateX(-50%);
  	background-color: #F9A032;
}

#button2{
	-webkit-transform: translateX(-150%);
  	-ms-transform: translateX(-150%);
  	transform: translateX(-150%);
}

.verticalAlign{
	top: 50%;
	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}

@media only screen and (max-width: 1000px){
	.frontPage{
		background-size: 1000px 660px;
	}
	.appIntro figure{
		width: 250px;
		left: 10%;
	}
	#lastPage{
		background-size: 1000px auto;
	}
}

@media only screen and (max-width: 1250px){
	#lastPage{
		background-size: 1250px auto;
	}
	.lunch{
		//background-size: auto 100%;
		background-size: 1250px 850px;
	}
}


@media only screen and (min-width: 1400px){
	.appIntro figure{
		width: 300px;
	}
}